---
---

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PAPALIOLIOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/main.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
      <div class="top">
        <img src="/assets/logo.svg" alt="Papaliolios" class="logo" />
      </div>
      <div class="bottom">
        <div>
          <img src="/assets/name.svg" alt="Papaliolios" class="logo" /><br>
          Αβάντων 64, Χαλκίδα<br>
          2221 400 100<br>
          6936 092 613<br>
          <a href="mailto:opapalio@gmail.com" target="_blank">opapalio@gmail.com</a>
        </div>
      </div>
    </body>
</html>
